body{
    background-color: lightpink;
    text-align: center;
}
.text{
    background-color: rgb(56, 240, 240);
    border-radius: 20px;
    width: 580px;
    height: 280px;
    position: relative;
}
.cricket{
    position: absolute;
    top: 10px;
    left: 20px;
}
.hocky{
    position: absolute;
    top: 10px;
    left:200px;
}
.football{
    position: absolute;
    top: 10px;
    left: 400px;
}
.tenis{
    position: absolute;
    top: 150px;
    left: 200px;

}
.parantive{
    position: absolute;
    top: 150px;
    width: 300px;
    right: 350px;

}
.git-hub{
    position: fixed;
    top: 120px;
    right: 100px;
}
.twitter{
    position: fixed;
    top: 230px;
    right: 100px;
}
.telegram{
    position: fixed;
    top: 350px;
    right: 100px;
}
.html{
    position: absolute;
    top: 430px;
    left: 20px;
}
.css{
    position: absolute;
    top: 430px;
    left: 250px;
}
.jave{
    position: absolute;
    top: 450px;
    left: 430px;
}
.c{
    position: absolute;
    top: 430px;
    right: 300px;
}
.python{
    position: absolute;
    top: 500px;
    left:40px
}


