body{
    background-color: lightpink;
    text-align: center;
}
.text{
    background-color: rgb(56, 240, 240);
    border-radius: 20px;
    width: 650px;
    height: 350px;
    position: relative;
}
.cricket{
    background-image: url(assets/images.jpg);
    height: 150px;
    width: 200px;
    position: absolute;
    top: 10px;
    left: 20px;
}
.hocky{
    background-image: url(assets/img.png);
    height: 150px;
    width: 200px;
    position: absolute;
    top: 10px;
    left:230px;
}
.football{
    background-image: url(assets/p.png);
    height: 150px;
    width: 200px;
    position: absolute;
    top: 10px;
    left: 445px;
}
.tenis{
    background-image: url(assets/n.jpg);
    height: 150px;
    width: 200px;
    position: absolute;
    top: 180px;
    left: 230px;

}


