.grid-container{
    display: grid;
   /*display: inline-grid;
    grid-column-gap: 200px;
    grid-row-gap: 20px; */
    grid-gap: 50px 100px;
    grid-template-columns: auto auto auto;
    background-color: rgb(211, 14, 14);
    padding: 10px;
    margin-bottom: 40px;
}
.grid-item{
    background-color: lightgreen;
    border: 1px solid rosybrown;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.item1{
    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 4;
}
.flex-container{
    display: flex;
   /* justify-content: center;
    justify-content: flex-end;
    justify-content: space-around;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
    align-items: flex-end;
    align-items: stretch;*/
    align-items: baseline;
    background-color: lightblue;
    padding: 10px;
    width: 80%;
    height: 500px;
}
.flex-item{
    background-color: salmon;
    border: 10px solid royalblue;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 20px;
}
.grid::first-letter{
    color: aqua;
    font-size: 100px;
    text-transform: capitalize;
    text-align: center;
}
.test-media{
    font-size: 50px;
}  
@media only screen and (max-width:600px) {
    .test-media{
        font-size:50px
    }
    .grid::first-letter{
        color: brown;
        font-size: 100px;
        text-transform: capitalize;
    }
}
@media only screen and(min-width:600px) {
    .grid::first-letter{
        color: cornflowerblue;
        font-size: 100px;
        text-transform: capitalize;
    }
}



    